* {
  user-select: none;
}

body {
  margin: 0 0;
  overflow-y: scroll;
  min-width: 1300px;
  position: relative;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* https://codepen.io/vitalhead/pen/qzpYxy Resizer*/
.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  line-height: 100%;
}

.icon::before,
.icon::after {
  content: "";
  display: block;
  position: absolute;
}

.icon-link::before {
  border: 0.1rem solid currentColor;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  height: 1.4em;
  transform: translate(-84%, -84%) rotate(-45deg);
  width: 1.4em;
}
.icon-link::after {
  border: 0.1rem solid currentColor;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  height: 0.7em;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 0.7em;
}

/* Custom Scrollbar for Address Book */

#addresses::-webkit-scrollbar {
  width: 7px;
  background-color: lightgray;
}

#addresses::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

#addresses::-webkit-scrollbar:horizontal {
  height: 7px;
}

#addresses::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 82, 82);
}

td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid gray;
  padding: 5px;
  background-color: white;
}

/* Play - Pause*/
/*https://codepen.io/jacobcs1996/pen/geQKLJ*/
.play {
  height: 0px;
  width: 0px;
  background: none;
  border: none;
  margin-left: 5px;
  border-top: 0.8rem solid transparent;
  border-bottom: 0.8rem solid transparent;
  border-left: calc(0.8rem * 2 * 0.86) solid rgb(88, 88, 88);
}

.pause {
  position: relative;
  background: none;
  border: none;
  height: 1.5rem;
  width: 1.2rem;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 33%;
    background: rgb(88, 88, 88);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

/* https://unused-css.com/blog/css-shake-animation/ */
.jump-shaking {
  animation: jump-shaking 0.83s;
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
    color: red;
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(17deg);
  }
  55% {
    transform: translateY(-9px) rotate(-17deg);
  }
  65% {
    transform: translateY(-9px) rotate(17deg);
  }
  75% {
    transform: translateY(-9px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
    color: black;
  }
}
